<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
  <div class="row gx-0">
    <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
      <div class="d-inline-flex align-items-center" style="height: 45px">
        <small class="me-3 text-light"
          ><i class="fa fa-map-marker-alt me-2"></i>387 Vũ Tông Phan, Thanh
          Xuân</small
        >
        <small class="me-3 text-light"
          ><i class="fa fa-phone-alt me-2"></i>+084 756 489</small
        >
        <small class="text-light"
          ><i class="fa fa-envelope-open me-2"></i>123uynpham@gmail.com</small
        >
      </div>
    </div>
    <div class="col-lg-4 text-center text-lg-end">
      <div class="d-inline-flex align-items-center" style="height: 45px">
        <a
          class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
          href=""
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a
          class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
          href=""
          ><i class="fab fa-facebook-f fw-normal"></i
        ></a>
        <a
          class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
          href=""
          ><i class="fab fa-linkedin-in fw-normal"></i
        ></a>
        <a
          class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
          href=""
          ><i class="fab fa-instagram fw-normal"></i
        ></a>
        <a
          class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
          href=""
          ><i class="fab fa-youtube fw-normal"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
  <nav
    class="navbar navbar-expand-lg navbar-light sticky-top px-4 px-lg-5 py-3 py-lg-0 navbar-top"
  >
    <a href="" class="navbar-brand p-0">
      <h1 class="m-0" style="color: #86b817">
        <i class="fa-solid fa-book"></i>UynStore
      </h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="index.html" class="nav-item nav-link active">Home</a>
        <a href="about.html" class="nav-item nav-link">About</a>
        <a href="service.html" class="nav-item nav-link">Services</a>
        <a href="package.html" class="nav-item nav-link">Packages</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >Pages</a
          >
          <div class="dropdown-menu m-0">
            <a href="destination.html" class="dropdown-item">Destination</a>
            <a href="booking.html" class="dropdown-item">Booking</a>
            <a href="team.html" class="dropdown-item">Travel Guides</a>
            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
            <a href="404.html" class="dropdown-item">404 Page</a>
          </div>
        </div>
        <a href="contact.html" class="nav-item nav-link">Contact</a>
        <a routerLink="/book/:id" href="#" class="nav-item nav-link"
          ><i class="fa-solid fa-cart-shopping"></i
        ></a>
      </div>
      <a
        href=""
        style="background-color: #86b817; border: none; outline: none"
        class="btn btn-primary rounded-pill py-2 px-4"
        >Register</a
      >
    </div>
  </nav>

  
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form
            action="/action_page.php"
            class="form-login"
            style="background-color: rgba(39, 39, 39, 0.12)"
          >
            <h1
              style="margin-top: -35px; margin-bottom: 40px; font-weight: 500"
            >
              Đăng nhập
            </h1>
            <div class="mb-3 mt-4">
              <input
                type="name"
                class="form-control"
                id="name"
                placeholder="name"
                name="username"
              />
            </div>
            <div class="my-4">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Mật khẩu"
                name="password"
              />
            </div>

            <h3
              style="
                font-size: 16px;
                font-weight: 400;
                color: rgba(39, 39, 39, 0.7);
              "
            >
              Quên mật khẩu?
            </h3>
            <br />

            <button type="submit" (click)="login()" class="btn mb-3">Đăng nhập</button><br />
            <h2
              style="font-size: 16px; font-weight: 400"
              routerLink="/register"
            >
              Đăng ký
            </h2>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
